# Evitar subir tu token y configuraciones locales
.env

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de log
*.log

# Archivos temporales o generados
*.jpg
*.jpeg
*.png
*.xls
*.xlsx
temp_*

# Entorno virtual
venv/
ENV/
env/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDEs
.vscode/
.idea/
